<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<%= link_to "Kedada", root_path, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Pagina principal",root_path %></li>
						<li><%= link_to "Ayuda", help_path %></li>
						<li><%= link_to "Entra", '#' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>